<h4>Computer is red player. You are the black player. Select which column you'd like to drop your piece into.</h4>

<div class="game_board">
  <% @game.board.each_index do |i| %>
    <ul class="columns">
      <% @game.board[i].each_index do |j| %>
        <% case @game.board[i][j] %>
        <% when 'e' %>
            <% slot_color_class = 'empty_slot'%>
        <% when 'b' %>
            <% slot_color_class = 'black_slot'%>
        <% else %>
            <% slot_color_class = 'red_slot'%>
        <% end %>
        <li class="slot <%= slot_color_class %>"><%= @game.board[i][j] %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_for @game do |f| %>
  <p>
    <%= f.radio_button :column, '0' %>
    <%= f.radio_button :column, '1' %>
    <%= f.radio_button :column, '2' %>
    <%= f.radio_button :column, '3' %>
    <%= f.radio_button :column, '4' %>
    <%= f.radio_button :column, '5' %>
    <%= f.radio_button :column, '6' %>
  </p>
  <p>
    <%= f.submit "DROP PIECE"%>
  </p>
<% end %>
