<div>
<% case @game.won %>
<% when true %>
  <h4><%= "Congratualtions, #{@game.player}. You won!!!"%></h4>
<% when false %>
  <h4><%= "Sorry, the computer won. Won't be long until the machines take over!" %></h4>
<% else %>
  <h4><%= "This game is still in progress! It's anyone's fight!" %></h4>
  <a href="/games/<%=@game.id%>/edit"><button>Continue Game</button></a>
<% end %>
</div>


<div class="game_board">
  <% @game.board.each_index do |i| %>
    <ul class="columns">
      <% @game.board[i].each_index do |j| %>
        <% case @game.board[i][j] %>
        <% when 'e' %>
            <% slot_color_class = 'empty_slot'%>
        <% when 'b' %>
            <% slot_color_class = 'black_slot'%>
        <% else %>
            <% slot_color_class = 'red_slot'%>
        <% end %>
        <li class="slot <%= slot_color_class %>"><%= @game.board[i][j] %></li>
      <% end %>
    </ul>
  <% end %>
</div>
